<div style="clear:both"></div>
<div style="width:200px; float:left">
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            <a class="nav-item nav link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-item nav link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

</div>

<div style="width:700; float:left">
    <h1> FILTERS </h1>
    {% for game in game_type %}
        <p><a href = "/game_type/{{ game.id }}/filter/"> {{ game.name }} Filters </a></p>
    {% endfor %}


</div>

<div style="clear:both"></div>
<div style="width:200px; float:left">
<h3> MENU </h3>

{% for game in game_type %}


<p><a href = "/game_type/{{ game.id }}/"> {{ game.name }}</a> </p>

{% endfor %}
    </div>

    <div style="width:1200; float:left">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block layout %}   {% endblock layout %}
    </div>
    <div style="clear:both"></div>