{% extends 'szablon.html' %}

{% block layout %}

{% if category_type.id == 1 %}
<h1>All Tournaments: </h1>
    {% for tour in all_tournaments %}
        <li>{{ tour.name }}</li>
        {% if tour.buy_in <= 10 %}
             <p><a href = "/game_type/{{ category_type.id }}/filter/"> Buy-In <=10$ </a></p>
        {% endif %}
    {% endfor %}
{% endif %}

{% if category_type.id == 2 %}
<h1>All Cashes: </h1>
    {% for cash in all_cashes %}
        <li>{{ cash.prices }}</li>
            {% if cash.min_buy_in <= 1.00 %}
                <p><a href = "/game_type/{{ category_type.id }}/filter/"> Min_buy_in <= 1.00$ </a></p>
            {% endif %}

    {% endfor %}
{% endif %}

{% if category_type.id == 3 %}
<h1>All Sit & Go's: </h1>
    {% for sit in all_sit_go %}
        <li>{{ sit.name }}</li>
            {% if sit.buy_in <= 1.00 %}
                <p><a href = "/game_type/{{ category_type.id }}/filter/"> Buy_in <= 1.00$ </a></p>
            {% endif %}
    {% endfor %}
{% endif %}

{% if category_type.id == 4 %}
<h1>All Spin's: </h1>
    {% for spin in all_spins %}
        <li>{{ spin.buy_in }}</li>
            {% if spin.buy_in <= 5.00 %}
                <p><a href = "/game_type/{{ category_type.id }}/filter/"> Buy_in <= 5.00$ </a></p>
            {% endif %}
    {% endfor %}
{% endif %}


{% endblock layout %}